        <div class="container-fluid">
          <div class="panel panel-success" id="mainScreen">
            <div class="panel-heading">
              <h3 class="panel-title text-center">
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                 Whatsapp Chat Reader
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
              </h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-2" id="sidebar" role="navigation">
                  <div class="list-group">
                    <a class="list-group-item list-group-item-info" id="loadChat">
                      <i class="fa fa-file-text" aria-hidden="true"></i> Load Chat
                    </a>
                    <a class="list-group-item list-group-item-warning" id="refreshChat">
                      <i class="fa fa-refresh" aria-hidden="true"></i> Refresh Chat
                    </a>
                    <a class="list-group-item list-group-item-danger" id="clearChat">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Clear Chat
                    </a>
                  </div>
                </div>
                <div class="col-sm-10" id="chatScreen">
                  <div id="loadInput">
                    <input id="chatFileInput" name="chat_file_input[]" type="file" class="file file-loading" data-show-upload="false" data-show-caption="true" data-allowed-file-extensions='["txt"]'>
                  </div>
                  <div id="chatData"></div>
                </div>
              </div>
            </div>
            <div class="panel-footer text-center">Developed By Vishal Nagda</div>
          </div>
        </div>