<%= render partial: 'partial/header'%>
<%= render partial: 'home/index'%>
      </div>
    </div>
<%= render partial: 'partial/footer'%>
<script>
  var load_chat = new WCR.LoadChat();
  var refresh_chat = new WCR.RefreshChat();
  var clear_chat = new WCR.ClearChat();
</script>