<!DOCTYPE html>
<html lang="en" class=" js ">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>WCR</title>
    <link href="/assets/common_manifest.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="homeContainer">